*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFA5AB;
    overflow-x: hidden;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    background-color: #DA627D;
    color: white;
}

.btn-custom {
    background-color: #A53260;
    color: white;
}
.btn-custom:hover {
    background-color: #FFA5AB; 
}

.btn-custom-secondary {
    background-color: #bb386d;
    color: white;
}
.btn-custom-secondary:hover {
    background-color: #FFA5AB;  
}

footer {
    background-color: #DA627D;
    color: white;
    padding: 10px 20px;
    text-align: center;
}