.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "sidebar main";
    padding-top: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 20px;
}

.sidebar-items {
    position: sticky;
    top: 20px;
}

.sidebar-item {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px; 
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #e0e0e0;
}

.sidebar-item.active {
    background-color: #e0e0e0;
}

.content-deudas {
    margin: 0 20px 0 20px;
}

.sort-section {
    display: flex;
    background-color:  #DA627D;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: sticky;
    top: 20px;
    align-items: center;
}

.sort-section input {
    width: 300px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #DA627D;
    border-radius: 5px;
    background-color: #fff;
    color: #450920;
}

.btn_buscar-deudas {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.sort-section label {
    font-size: 14px;
    font-weight: bold;
    color: #450920;
}

.sort-section select {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #DA627D;
    border-radius: 5px;
    background-color: #fff;
    color: #450920; 
    cursor: pointer;
}

.sort-section select:focus {
    border-color: #A53260;
    outline: none;
}