.product-grid {
    padding: 0px 100px;
    padding-bottom: 100px;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-card {
    border: 1px solid #ccc;
    background-color: #d1748b;
    color: #450920;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
.product-card h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
}
.product-card p {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.product-card:hover {
    background-color: #A53260;
    color: #F9DBBD;
}

@media (max-width: 768px) {
    .product-grid {
        padding: 0px 20px;
    }
    .product-card img {
        height: 250px; 
        object-fit: contain; 
    }
}