body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFA5AB;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: #DA627D;
    padding: 5vw 10vw; /* Ajuste proporcional a la pantalla */
    border-radius: 15px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

h1 {
    color: #F9DBBD;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    color: #F9DBBD;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #A53260;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #F9DBBD;
    outline: none;
}

.btn-primary {
    background-color: #A53260;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #F9DBBD;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #8E2953;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}
.btn-secondary:hover {
    background-color: #0056b3;
}
