{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARIE</title>
    <link rel="stylesheet" href="{% static "/css/inicio.css" %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">Librería Marie</div>
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
            </div>
            {% comment %} Aca seria mostrar Iniciar sesion o crear cuenta si el usuario no esta logeado {% endcomment %}
            <div class="account">
                <button>Gestionar Cuenta</button>
            </div>
        </nav>
    </header>
    <form method="get" action="{% url 'inicio' %}"
        <div class="filters">
            <div class="dropdown">
                <label for="ordenar">Ordenar Por:</label>
                <select id="ordenar" name="ordenar" onchange="this.form.submit()">
                    <option value="destacado" {% if ordenar == 'destacado' %}selected{% endif %}>Destacado</option>
                    <option value="menor-precio" {% if ordenar == 'menor-precio' %}selected{% endif %}>Menor Precio</option>
                    <option value="mayor-precio" {% if ordenar == 'mayor-precio' %}selected{% endif %}>Mayor Precio</option>
                </select>
            </div>
            <div class="dropdown">
                <label for="filtrar">Filtrar Por:</label>
                <select id="filtrar">
                    <option value="categoria">Por Categoría</option>
                    <option value="libro">Libro</option>
                    <option value="lapices">Lápices</option>
                    <option value="bebida">Bebida</option>
                    <option value="hojas">Hojas</option>
                </select>
            </div>
        </div>
    </form>

    <main class="product-grid">
        {% for producto in productos %}
        <div class="product-card">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            <h3>{{ producto.nombre }}</h3>
            <p>${{ producto.precio }}</p>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </main>

    <footer>
        <p>Librería Marie :)</p>
    </footer>
</body>
</html>