{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/deudas.css' %}">
    <title>Deudas</title>
{% endblock head%}

{% block content %}
<header>
    {% include 'components/navbar.html' %}
</header>
<div class="container">
    <div class="sidebar">
        <div class="sidebar-items">
            <a href="{% url 'inicio' %}">
                <div class="sidebar-item">Volver al Inicio</div>
            </a>
            <a href="{% url 'deudas' %}">
                <div class="sidebar-item">Mis Deudas</div>
            </a>
            {% if is_admin %}
            <a href="{% url 'deudas_admin' %}">
                <div class="sidebar-item">Ver todas las Deudas</div>
            </a>
            {% endif %}
        </div>
    </div>
    <main class="content-deudas">
        {% if mostrar_filtro %}
        <form method="get" class="sort-section">
            <input type="text" name="q" value="{{ busqueda|default:'' }}" placeholder="{% if mostrarAdmin %}Buscar por nombre de usuario...{% else %}Buscar por producto...{% endif %}">
            <button type="submit" class="btn_buscar-deudas">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="20px" height="20px"><path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"/></svg>
            </button>
            <label for="ordenarPor">Ordenar por:</label>
            <select id="ordenarPor" name="ordenarPor" onchange="this.form.submit()">
                <option value="fecha-agregado" {% if ordenarPor == 'fecha-agregado' %}selected{% endif %}>Recién agregado</option>
                <option value="fecha-antiguo" {% if ordenarPor == 'fecha-antiguo' %}selected{% endif %}>Más antiguo</option>
                <option value="monto-mayor" {% if ordenarPor == 'monto-mayor' %}selected{% endif %}>Mayor monto</option>
                <option value="monto-menor" {% if ordenarPor == 'monto-menor' %}selected{% endif %}>Menor monto</option>
            </select>
        </form>
        {% endif %}
        <h1>{{ titulo }}</h1>
        <p style="margin-bottom: 20px;">{{ descripcion }}</p>
        {% if deuda %}
            {% include 'components/deuda-view.html' %}
        {% else %}
            {% include 'components/deudas-grid.html' with pagado=False%}
            <h2 style="margin-top: 20px;">Deudas Pagadas</h2>
            {% include 'components/deudas-grid.html' with pagado=True%}
        {% endif %}
    </main>
</div>


{% endblock content %}