{% load static %}
<main class="product-grid">
    {% for producto in productos %}
    <div class="product-card">
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        <h3>{{ producto.nombre }}</h3>
        <p>${{ producto.precio }}</p>
        <p>Categoría: {{ producto.categoria.nombre }}</p>
        <p>Stock disponible: {{ producto.stock }}</p>
        <button type="button" class="btn_agregar">Agregar al carrito</button>
        {% if user.is_staff %}
        <a href="{% url 'gestionar_productos' producto.id %}" class="btn_agregar">Editar Producto</a>
        {% endif %}
    </div>
    {% empty %}
    
    <img src="{% static '/img/error.png' %}" alt="Error img" style="width: 300px; height: 300px;" />
    <p style="font-family: 'Comic Sans MS'; margin-top: 100px;">No se ha encontrado "{{ query }}" dentro del portal... ¡Intenta con un producto válido, filtro o con distinta terminología!</p>
    
    {% endfor %}
</main>